.page
{
    min-height:100vh;
    overflow:hidden;
}

.page#first_page
{
}

.page#second_page
{
    background:#3392b2;
    color:White;
}

.page#third_page
{
    background:rgb(243, 232, 184);
}
            
.dy_yb {
    padding: 40vh 0 40vh 0;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-size:5em;
}

.logo {
    padding: 12vh 0;
    width:100%;
    height: auto;
}

.logo.img-horizontal {
    padding:12vh 0;
    height: 100vh;
    width: auto;
}
